<div class="mainBox">
  <div>
    <h1 align="center">Avengers: Endgame (2019)</h1>
  </div>
<br>
<p>The finale is here boys and girls, and what a ride it's been. Before we go too deep exploring each hero's odd and erratic behavior, we have to look at the overarching plan that the Avengers had.</p><br>
<h4>Inconsistencies</h4>
<ol>
  <li>Scarlet Witch's disproportionate power</li>
</ol>

<p>A major flaw that a lot of movies make is giving the hero just enough power the writers deem necessary. While admittedly it makes for a good movie, </p>

</div>
