<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div style="width: 15%;">
        <app-side-nav></app-side-nav>
    </div>
    <div class="col-lg">
      <!-- All web pages in main content are loaded here -->
        <router-outlet></router-outlet>
        <br>
        Happy to answer any suggestions and improvement.<br>
        Contact: David<br>
        Email: choonghumyon@gmail.com
    </div>
  </div>
</div>