<div class="mainBox">
  <div>
    <h1 align="center">Where plotholes come to nest</h1>
  </div>
<br>
  <div class="container">
    <div align="left" class="row">
      <div style="margin: auto;" align="left" class="col">
        <ul>
          <li>
            <p>Do you ever watch a movie and ask yourself, <b>"But why didn't they...?"</b></p><br>
          </li>
          <li>
            <p>Do you love when that one friend that won't stop talking about why event xyz could never happen during the movie?</p><br>
          </li>
          <li>
            <p>Do you like getting upset?</p><br>
          </li>
        </ul>
          <p align="center">Look no further. Set this as your homepage and share in the hypercritical moviegoer's paradise.</p>
          <br>
          <p align="center"> &#60;-- Choose any film to get started!</p>
      </div>
      <div style="margin: auto;" align="center" class="col">
          <!-- <img width="300" alt="Pepe Silvia" src="https://i.kym-cdn.com/entries/icons/original/000/022/524/tumblr_o16n2kBlpX1ta3qyvo1_1280.jpg"> -->
          <img width="500" src="../../assets/images/Charlie.png" alt="Pepe Silvia">
          <p>There is no Pepe Silvia</p>
      </div>
    </div>
  </div>
</div>