<div class="mainBox">
  <div>
    <h1 align="center">Avengers: Infinity War (2018)</h1>
  </div>
<br>
<p>The 3rd installment of the Avengers serious, in my completely and obviously unbiased opinion, the greatest of the series.</p><br>
<br>
<p>Write a python script to read all the chracters that talk during the movie and list how many lines each character was given. Remember to specify if they were theatrical release.</p>

<button class="btn btn-primary" (click)="peanut()">Pingus</button>
<p>
  Credits:<br>
  <a href="https://transcripts.fandom.com/wiki/Avengers:_Infinity_War">Infinity War Transcripts</a>
</p>
</div>
